<section>
  <div *ngFor="let category of categories" class="row container-home-courses w-100 p-5 pb-0">
    <h2>{{category.category.toUpperCase()}}</h2>
    <div class="col-6 " *ngFor="let course of category.courses">
      <div class="position-relative  d-flex justify-content-center">
        <img 
          src="./../../../../assets/img/backgrounds/imagenleccion2x.png" 
          [routerLink]="[course.id]" 
          class="cursor-pointer"
        >
        <div class="card-title ">
          <h5>{{course.name}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>