.card-title {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}
.container-home-courses {
    h2 {
        color: gray;
    }
}