<section class="row container-home-courses">
  <h2>Emprendimiento</h2>
  <div class="col-3 mb-4">
    <div class="card card-home-redirect" [routerLink]="['/cursos/negocio']">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Negocio</h5>
      </div>
    </div>
  </div>
  
  <div class="col-3 mb-4">
    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Redes sociales</h5>
      </div>
    </div>
  </div>

  <div class="col-3 mb-4">
    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Ecommerce</h5>
      </div>
    </div>
  </div>

  <div class="col-3 mb-4">
    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Contratos</h5>
      </div>
    </div>
  </div>
  
  <h2>Desarrollo personal</h2>
  <div class="col-3 mb-4">
    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0"></h5>
      </div>
    </div>
  </div>

  <div class="col-3 mb-4">
    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0"></h5>
      </div>
    </div>
  </div>

  <div class="col-3 mb-4">
    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0"></h5>
      </div>
    </div>
  </div>

  <div class="col-3 mb-4">
    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0"></h5>
      </div>
    </div>
  </div>
</section>