.card-home-redirect {
    cursor: pointer;
    border: 2px solid black;
    min-height: 226px;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.container-home-courses {
    h2 {
        color: gray;
    }
}