.policie-detail {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #F7F7F7;
    // height: 600px;
    border-radius: 1em;
    margin-top: 2em;
    color: gray;
    font-weight: 600;
    overflow: hidden;
    .policy-name-container {
        background-color: #5686EA;
        color: white;
        padding: 1em;
    }
    .container-form {
        padding: 1em;
    }
    .dot-green {
        display: block;
        background-color: green;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 2px solid white;
    }

    .dot {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;

        &.yellow {
            background-color: rgb(218, 221, 13);
        }
    }
    .title-documents {
        color: #5686EA;
    }
    .img-blue-clip {
        width: 15px;
        height: 100%;
        margin-left: 0.5em;
    }
    .a-links {
        word-break: break-all;
    }
}