<section class="d-flex justify-content-center">
  <div class="mt-5 section-home d-flex justify-content-evenly flex-wrap">

    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Guías y documentos</h5>
      </div>
    </div>

    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Noticias</h5>
      </div>
    </div>

    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Asistencia</h5>
      </div>
    </div>

    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Descuentos</h5>
      </div>
    </div>

    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0" [routerLink]='["/policies/list"]'>Mis pólizas</h5>
      </div>
    </div>

    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0" [routerLink]='["/contacts/list"]'>Mis contactos</h5>
      </div>
    </div>

    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Mis pagos</h5>
      </div>
    </div>

    <div class="card card-home-redirect">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title mb-0">Acerca de</h5>
      </div>
    </div>

  </div>
</section>