<section class="d-flex justify-content-center">
  <div class="mt-5 section-home row">

    <div class="col-3 mb-4">
      <div class="card card-home-redirect" [routerLink]='["/mi-poliza"]'>
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title mb-0">Mi póliza</h5>
        </div>
      </div>
    </div>
    
    <div class="col-3 mb-4">
      <div class="card card-home-redirect">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title mb-0">Cursos</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mb-4">
      <div class="card card-home-redirect">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title mb-0">Convenios</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mb-4">
      <div class="card card-home-redirect">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title mb-0">Descuentos</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mb-4">
      <div class="card card-home-redirect">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title mb-0">FAQ's</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mb-4">
      <div class="card card-home-redirect">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title mb-0">Configurar</h5>
        </div>
      </div>
    </div>

  </div>
</section>