<section>
    <h1>Agregar contacto</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="firstName">Nombre:</label>
        <input type="text" id="firstName" formControlName="firstName" />
      </div>
      <div>
        <label for="paternalSurname">Apellido Paterno:</label>
        <input type="text" id="paternalSurname" formControlName="paternalSurname" />
      </div>
      <div>
        <label for="maternalSurname">Apellido Materno:</label>
        <input type="text" id="maternalSurname" formControlName="maternalSurname" />
      </div>
      <div>
        <label for="phone">Teléfono:</label>
        <input type="tel" id="phone" formControlName="phone" />
      </div>
      <div>
        <label for="kinship">Parentezco:</label>
        <input type="text" id="kinship" formControlName="kinship" />
      </div>
      <div>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" formControlName="email" />
      </div>
  
      <h3>Tipo de contacto</h3>
  
      <div>
        <input type="radio" id="priority" formControlName="contact_type" value="priority" checked />
        <label for="priority">Prioritario</label>
      </div>
  
      <div>
        <input type="radio" id="not_priority" formControlName="contact_type" value="not_priority" />
        <label for="not_priority">No prioritario</label>
      </div>
      
      <button type="submit">Agregar contacto</button>
  
    </form>
  </section>
  