<table class="table">
    <thead>
      <tr>
        <th>Apellido paterno</th>
        <th>Apellido Materno</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.mother_name }}</td>
        <td>{{ item.father_name }}</td>
        <td>{{ item.name }}</td>
        <td>
          <button>Editar</button>
          <button>Favorito</button>
          <button>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  
  <button type="button" class="btn btn-primary" [routerLink]='["/contacts/create"]'>
    Agregar contacto
  </button>