.navbar-bradcrumb {
    background-color: #ACC2FE;
    color: #1F2B5B;
    font-weight: bold;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

    .icon-phone {
        width: 35px;
        height: 35px;
    }

    .cursor-pointer  {
        cursor: pointer;
    }
}
.breadcrumb-item {
    cursor: pointer;

}