<section>
    <div class="d-flex mb-3">
      <div>
        <h2>{{course?.name}}</h2> <p>Impartido por Juan Carlos Najera Hernandez</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At corporis ad ut voluptate porro nostrum totam, sunt iure distinctio possimus alias ipsa sequi! Iure, accusamus eos! Suscipit itaque dolorem vero! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis doloribus rem, commodi eligendi, hic ratione nulla at quisquam iure placeat beatae dolore reprehenderit enim porro laudantium, voluptatum quia nesciunt vitae.</p>
  
      </div>
      <div class="image-creator">
        <img src="../../../../assets/img/avatar-default.svg" alt="">
      </div>
    </div>
    <div class="row">
      <h2 class="w-100">Lecciones</h2>
  
      <div class="col" *ngFor="let lesson of [].constructor(course?.total_classes)">
        <div class="card-leccions-redirect">
          <div class="card-body d-flex justify-content-center">
            <h5 >Leccion 1</h5>
          </div>
        </div>
      </div>
    </div>
  </section>