.image-creator-container {
    background-color: white;
    border: 2px solid black;
    width: 200px !important;
    height: 200px !important;
    overflow: hidden;
    margin-left: 1em;
    flex-shrink: 0;
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}
.cursor-pointer {
    cursor: pointer;
}
.policy-name-container {
    background-color: #5686EA;
    color: white;
    padding: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}
.title-lection {
    cursor: pointer;
    width: 235px;
    position: absolute;
    top: 90%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
}
.img-icon {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}